*{
    padding: 0;
    margin: 0;
}
#game{
    width: 500px;
    height: 500px;
    border: 1px solid black;
    margin: auto;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWl6r0dB9TBo5_HH3qnQ_OcwkGg_NXVP44vA&usqp=CAU");
}
#character{
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    position: relative;
    top: 400px;
    left: 0px;
    z-index: 100;
}
.block{
    width: 500px;
    height: 20px;
    background-color: black;
    position: relative;
    top: 100px;
    margin-top: -20px;
}
.hole{
    width: 40px;
    height: 20px;
    background-color: skyblue;
    position: relative;
    top: 100px;
    margin-top: -20px;
}
.heading{
    padding: 10px;
    margin:10px;
    background-color: antiquewhite;
}
